body{
    font-family: Inconsolata, monospace !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #211B24;
    text-align: left;
	height:100%;
	margin:0;
}
/* HEADERN*/
#header{
background:black;
min-height:85px;
margin-bottom:40px;
}
#nav {
text-align:center;
}
#nav li {
display: inline-block;
    margin: 34px 0 0;
    vertical-align: middle;
}
#nav a {
text-decoration:none; 
padding:0 25px; /* variable width */
}
.logo{
float: left;
  position: relative;
  text-decoration:none; 
}
.topnav .icon {
  display: none;
}
/* END HEADERN*/

 /* START BEADCRUMBS*/	
.breadcrumbs {
margin-bottom: 20px;
}
.breadcrumbs > a {
color: #057BDD !important;
}
/* END BEADCRUMBS*/	

.background{
 position: relative;
  height: 100%;
 }
.background:before {
  background-image:  url(img/Background.jpg);
  content: '';
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: -1;
  opacity: 0.2;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.datetime{
color: #cdd6db;
display: block;
font-weight:bold;
}
.datetime:hover{
color: #cdd6db !important;
}
section{
display:block;
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
}
.news-row{
min-height:250px;
border: 1px solid darkblue;
margin-bottom: 40px;
box-shadow: 0 0 30px rgba(0,0,0,.18);
padding:10px;
background:white;
}
div.row.news-row > a{
color: #211B24 !important;
/* -webkit-text-fill-color: #211B24 !important;
-moz-text-fill-color: #211B24 !important; */
}
div.row.news-row > a:hover{
-webkit-text-fill-color: #211B24 !important;
-moz-text-fill-color: #211B24 !important;
}
div.container.news-container > a{
color: #211B24 !important;
}
div.five.columns > img {
padding: 25px 0px 0px 0px;
}
div.seven.columns{
padding: 20px 0 0 0px;
}
div.seven.columns > h4{
margin-bottom:3px;
}
p.datetime{
margin-bottom: 10px;
}
.datetime{
color: #cdd6db;
display: block;
font-weight:bold;
}
/* #datetime:hover{
color: #cdd6db !important;
-webkit-text-fill-color: #cdd6db !important;
-moz-text-fill-color: #cdd6db !important;
} */
.skeleton-img{
display: block;
max-width: 100%;
height: auto;
}
.logoutbutton { 
background-image:-webkit-linear-gradient(top, #000000, #057BDD);
color: rgb(252, 252, 252); 
border: 1px solid #c5c7c9;
width: 95px;
height: 35px;
font-size: 14px;
line-height: 25px; 
font-weight: normal; 
position: relative;
padding: 0px !important;
}
.logoutbutton:hover { 
color: #057BDD !important;
-webkit-text-fill-color: #057BDD;
}
.logout{
margin: 25px 0 0 !important;
float:right;
}

/* HOVEREFFECT */
.can-scale {
    transition: all .3s;
}
.has-shadow-lift {
    box-shadow: 0 3px 6px rgba(12,12,94,.1) !important;
}
.can-scale:hover {
    transform: scale(1.01);
    transition: all .5s ease;
}
.has-shadow-lift:hover {
    box-shadow: 0 20px 40px rgba(12,12,94,.1) !important;
}
.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}
.is-clipped {
    overflow: hidden !important;
}
/* END HOVEREFFECT */

/* START PAGINATION */
.c-paginator {
    margin: 2.5rem 0;
    text-align: center;
}
dl, ol, ul {
    line-height: 1.2;
}
ol, ul {
    list-style: none;
}
.c-paginator li {
    display: inline-block;
    margin: .5rem 0 0;
    vertical-align: middle;
}
.c-paginator .c-current-page {
    border: 1px solid #1D4787;
    color: white !important;
    font-weight: 700;
    pointer-events: none;
	background-color:#1D4787;
}
.c-paginator a {
    color: #057BDD;
    font-size: 1.875rem;
    font-weight: 700;
}
.c-paginator__button {
    border: 1px solid #1D4787;
    border-radius: 30px;
    color: #057BDD;
    cursor: pointer;
    display: inline-block;
    font-size: .875rem;
    font-weight: 700;
    height: 50px;
    padding: 11px;
    text-align: center;
    transition-duration: .4s;
    transition-property: color,background-color;
    width: 50px;
    line-height: 28px;
}
a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
*, ::after, ::before {
    box-sizing: inherit;
}
.c-paginator .c-next {
    padding: 0 15px;
    position: relative;
}
.c-paginator__text {
    color: #0172f0;
    font-weight: 700;
    text-transform: uppercase;
}

@media screen and (min-width: 48em){
.c-paginator li {
    margin: .5rem .25rem;
}
}
/* END PAGINATION */
    
/* START FOOTER */
	.main-footer{
    background-color: #211B24;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
    font-family: inherit;
    color:white;
    }
    .footer-wrap{
    text-align: center;
    margin: 0 auto;
    }
    ul.row.footer-row{
    list-style:none;
    margin-bottom:0px !important;
    }
    .footer-links{
    margin-top: 25px;
    margin-bottom: 40px;
    }
    div.footer-links > a {
    color: #fff !important;
    cursor: pointer;
    text-decoration: none;
}
	div.footer-links > a:hover {
    cursor: pointer;
    text-decoration: none;
}
    .designed {
      text-align: center;
      margin-top: -7px;
      font-size: 11px;
    }  
    .designed a{
      color: #FF859D !important;
    }
    .tor {
        font-size: 11px;
    }
    .onionIcon {
     width: 17px;
     height: auto;
     position: relative;
     top: 4px;  
    }
    /* END FOOTER */
	
/* 	MEDIA QUERIES */

/* topnav */
@media screen and (max-width: 925px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
	top: 34px;
  }
  #nav li:not(:last-child){display: none;}
    .topnav a.icon {
    float: right;
    display: block;
  }
  #nav a{padding:0 10px;}
  #nav li{
  float:right;
  }
  #nav {
    margin-left: 15px;
}
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive #nav li, .logout{display: block;float: none;}
  .topnav.responsive .menu{
	padding-bottom: 10px;
  }
.comment-area{
	margin-left:0% !important;
}  
.logo{
float:none;
}
.menu{
display:inline-block;
}
.topnav a.icon {
position:absolute !important;
    top: 34px !important;
    right: 25px !important;
}
}
/* end topnav */

@media all and (max-width: 1200px) and (min-width: 751px) {
   #nav a{padding:0 10px;}
 /*   .logout{float:none;} */
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

