body{
    font-family: Inconsolata, monospace !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #211B24;
    text-align: left;
	height:100%;
	margin:0;
}
a{
 color:#057BDD !important;
}
.breadcrumbs {
margin-bottom: 20px;
}
 .background{
 position: relative;
  height: 100%;
 }
.background:before {
  background-image:  url(img/Background.jpg);
  content: '';
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: -1;
  opacity: 0.2;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.datetime{
color: #cdd6db;
display: block;
font-weight:bold;
}

.skeleton-img{
display: block;
max-width: 100%;
height: auto;
}

section{
display:block;
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
}
.news-row{
min-height:250px;
border: 1px solid darkblue;
margin-bottom: 40px;
box-shadow: 0 0 30px rgba(0,0,0,.18);
padding:10px;
background:white;
}
div.row.news-row > a{
color: #211B24 !important;
}
.news-row:hover{

}
a:hover{
 -webkit-text-fill-color: #057BDD !important;
-moz-text-fill-color: #057BDD !important;
}
div.container.news-container > a{
color: #211B24 !important;
}

div.container.news-container > a:hover{
color: #057BDD !important;
}
div.five.columns > img {
padding: 25px 0px 0px 0px;
}
div.seven.columns{
padding: 20px 0 0 0px;
}
div.seven.columns > h4{
margin-bottom:3px;
}
p.datetime{
margin-bottom: 10px;
}

/* START PAGINATION */
.c-paginator {
    margin: 2.5rem 0;
    text-align: center;
}
dl, ol, ul {
    line-height: 1.2;
}
ol, ul {
    list-style: none;
}
@media screen and (min-width: 48em){
.c-paginator li {
    margin: .5rem .25rem;
}
}
.c-paginator li {
    display: inline-block;
    margin: .5rem 0 0;
    vertical-align: middle;
}
.c-paginator .c-current-page {
    border: 1px solid #1D4787;
    color: white !important;
    font-weight: 700;
    pointer-events: none;
	background-color:#1D4787;
}
.c-paginator a {
    color: #057BDD;
    font-size: .875rem;
    font-weight: 700;
}
.c-paginator__button {
    border: 1px solid #1D4787;
    border-radius: 30px;
    color: #057BDD;
    cursor: pointer;
    display: inline-block;
    font-size: .875rem;
    font-weight: 700;
    height: 50px;
    padding: 11px;
    text-align: center;
    transition-duration: .4s;
    transition-property: color,background-color;
    width: 50px;
    line-height: 28px;
}
a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease-in-out;
        transition-property: all;
        transition-duration: 0.3s;
}
a{
padding: 0;
border: 0;
font-size: 100%;
}
    a {
    background-color: transparent;
}
*, ::after, ::before {
    box-sizing: inherit;
}

.c-paginator .c-next {
    padding: 0 15px;
    position: relative;
}
.c-paginator a {
    color: #0172f0;
    font-size: 1.875rem;
    font-weight: 700;
}
.c-paginator__text {
    color: #0172f0;
    font-weight: 700;
    text-transform: uppercase;
}
a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
/* END PAGINATION */


/* START FOOTER */
.main-footer{
background-color: #211B24;
display: block;
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
font-size: 100%;
font-family: inherit;
color:white;
}
.footer-wrap{
text-align: center;
}
ul.row.footer-row{
list-style:none;
}
/* .footer-list{
padding-left: 25px;
padding-right: 25px;
float: left;
min-height: 1px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
} */
.footer-links{
margin-top: 25px;
margin-bottom: 40px;
}

/* END FOOTER */
