/* html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
background: transparent;
border: 0;
margin: 0;
padding: 0;
font-family: Inconsolata, monospace !important;
vertical-align: baseline ;
} */
body{
    font-family: Inconsolata, monospace !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #211B24 !important;
    text-align: left;
	height:100%;
	margin:0;
}
/* body { background: url(bg.jpg); } */
h2 { font-size: 30px; line-height:38px; font-weight:normal; text-align: center; color: #141823;}

.registerbox { background: #FBFCFD; padding: 10px; width: 490px; margin: 4% auto 4% auto; position: relative; }
.registerBoxInner {
background: #FBFCFD; padding: 5px; position: relative; border: 1px solid #FBFCFD;
-moz-box-shadow: inset 0 1px 0 #FBFCFD; -webkit-box-shadow: inset 0 1px 0 #FBFCFD; box-shadow: inset 0 1px 0 #FBFCFD;
}
.registerheader { height: 20px; margin-bottom: 40px; }
.registerform { margin: 4px auto; text-align:center; }
.registerbox h1 { font-size: 30px; letter-spacing: 1px; color: #555; font-weight: normal; padding-top: 10px; }
.registerbox p { margin: 7px 0 5px 0; }
.registerbox label { display: block; color: #666; letter-spacing: 1px; font-size: 18px; }
.registerbox input.mini { width:195px; }
.registerbox input { padding: 12px 10px; color: #ccc; margin-top: 8px; font-size: 15px; border: 1px solid #ccc; width: 420px; outline: none;
}
.registerbox button {
background-image:-webkit-linear-gradient(top, #000000, #057BDD);
border: 1px solid #c5c7c9;
background-color: rgb(27, 32, 23);
padding: 10px 20px; 
font-size: 18px; 
letter-spacing: 1px; 
color: #fff; 
width: 420px; 
line-height:30px; 
font-family: Inconsolata, monospace !important;
-moz-box-shadow: 1px 1px 3px #2e2e2e; 
-webkit-box-shadow: 1px 1px 3px #2e2e2e; 
box-shadow: 1px 1px 3px #2e2e2e; 
cursor: pointer;
}
.radius { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.radius1 { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

.title { 
  color:#8E989E; 
  line-height:28px; 
  font-weight:normal; 
  text-align:center; 
  font-size:16px; 
  }

#header_wrapper{
background-color: rgb(0, 0, 0);
border-bottom: 1px solid #c5c7c9;
box-shadow: 0 0 2px rgba(0, 0, 0, 0.52);
min-width: 1000px;
width: 100%;
z-index: 1000;
top: 0;
position: sticky; 
}
#header {
margin-left:auto;
margin-right:auto;
max-width:1000px;
height: 85px;
display: block;
}
.scrolled #header {
  opacity: 1;
  transition: opacity .2s;
  background-color: black;
}
#logo a {
background-image: url("/img/SH.jpg");
background-size: 130px;
border-radius: 100px;
background-repeat: no-repeat;
background-position: center;
display: block;
text-indent: -9999px;
top: 5px;
height: 75px;
width: 160px;
z-index: 10;
float: left;
position: relative;
text-decoration:none;
}
#header li{
 list-style-type:none;
 float:left;
 text-align:left;
 color:white;
}
#header form{
 margin-top:15px;
 float:right;
}
#header form li{ 
 font-size:13px;
 margin-left:25px;
}
#header form li a{
  position: relative;
  top: 3px;
 color:#fff;
 text-decoration:none;
}
#header form input[type="text"]{
 margin-top:3px;
 margin-bottom:3px;
 width:150px;
 height:35px;
 padding-left:3px;
}
#header form input[type="password"]{
 margin-top:3px;
 margin-bottom:3px;
 width:150px;
 height:35px;
 padding-left:3px;
}
#login_form .inputtext{
background-color: #ffffff;
height: 37px; 
font-size: 13px;
margin: 0;
padding: 5px 8px 5px 8px;
width: 166px;
border: 1px solid #c5c7c9;
}
#login_form .inputtext:hover {
  border-color: #A0A0A0 #B9B9B9 #B9B9B9;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  }
.loginbutton { 
background-image:-webkit-linear-gradient(top, #000000, #057BDD);
color: rgb(252, 252, 252); 
border: 1px solid #c5c7c9;
width: 95px;
height: 35px;
font-size: 14px;
line-height: 25px; 
font-weight: normal; 
position: relative;
top: 2px; 
}
#login_form {
  padding: 0 0 0 5px;
  } 
#login_form label {
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: normal;
  padding-left: 1px;
  text-align: left;
  vertical-align: middle;
  position: relative;
  top: -15px; 
  }

/* HERO IMAGE */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/hero12.gif");
    width: 600px; 
    min-height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}
  /* DIV för all text på heroimg */
.hero-text {
  text-align: center;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heroP {
  text-align: center;
  background-color: #777777;
  background-image: linear-gradient(45deg, #057BDD, #3f3f3f);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: #fff; 
  -moz-text-fill-color: #fff;
  color: #fff !important;
}
/* END HERO IMAGE */

/* START FOOTER */
	.main-footer{
    background-color: #211B24;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
    font-family: inherit;
    color:white;
    }
    .footer-wrap{
    text-align: center;
    margin: 0 auto;
    }
    ul.row.footer-row{
    list-style:none;
    margin-bottom:0px !important;
    }
    .footer-links{
    margin-top: 25px;
    margin-bottom: 40px;
    }
    div.footer-links > a {
    color: #fff !important;
    cursor: pointer;
    text-decoration: none;
	}
	div.footer-links > a:hover {
		cursor: pointer;
		text-decoration: none;
	}
    .designed {
      text-align: center;
      margin-top: -7px;
      font-size: 11px;
    }
    .designed a{
      color: #FF859D !important;
    }
    .tor {
        font-size: 11px;
    }
    .onionIcon {
     width: 17px;
     height: auto;
     position: relative;
     top: 4px;  
    }
/* END FOOTER */


  

