div.privacy-policy-row{
min-height:250px;
border: 1px solid darkblue;
margin-bottom: 40px;
box-shadow: 0 0 30px rgba(0,0,0,.18);
padding:10px;
background:white;
}
div.privacy-policy-row > a{
color: #211B24 !important;
}
.privacy-policy-column{
margin-left:25px !important;
margin-bottom:40px;
margin-top:40px;
}

@media screen and (max-width: 550px) {
.privacy-policy-column
{
margin-left:10px !important;
width:90% !important;
}
}
